{% extends 'admintemp/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h3 class="card-title">Workers</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone No.</th>
                </tr>
            </thead>
            <tbody>
                {% for i in c_data %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{i.user.username}}</td>
                    <td>{{i.user.email}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.mobile_number}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}