{% extends 'admintemp/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h3 class="card-title">Workers Report</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Assigned Worker</th>
                    <th scope="col">Vehicle No.</th>
                    <th>Enquiry Date</th>
                    <th scope="col">Issues</th>
                    <th scope="col">Location</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td> {{i.mechanic}}</td>
                    <td> {{i.vehicle_no}}</td>
                    <td>{{i.date}}</td>
                    <td>{{i.problem_description}}</td>
                    <td>{{i.location}}</td>
                    <td>{{i.status}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}